@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  font-smooth: always;
  font-smoothing: auto;
  text-rendering: optimizeLegibility;
}

body:after {
  content: '';
  @apply pointer-events-none fixed bottom-0 left-0 right-0 top-0 z-10 bg-[rgba(140,_140,_140,_0.6)] opacity-0 transition-all;
}

.container {
  @apply px-[15px] min-w-[355px]
}

.grecaptcha-badge {
  @apply invisible
}

.overlay-show:after {
  @apply pointer-events-auto opacity-100;
}

.scroll-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
  @apply relative flex flex-nowrap overflow-scroll top-[-24px] px-[15px] py-[24px] ml-[-15px] mb-[-48px] w-[calc(100%_+_30px)]
}

.scroll-hidden::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.icon-address {
  mask: url('/img/address.svg') no-repeat 50% 50%;
}

.icon-phone {
  mask: url('/img/phone.svg') no-repeat 50% 50%;
}

.icon-clock {
  mask: url('/img/clock.svg') no-repeat 50% 50%;
}

.icon-mail {
  mask: url('/img/mail.svg') no-repeat 50% 50%;
}

.icon-telegram {
  mask: url('/img/telegram.svg') no-repeat 50% 50%;
}

.icon-whatsapp {
  mask: url('/img/whatsapp.svg') no-repeat 50% 50%;
}

.icon-arrowhead {
  mask: url('/img/arrowhead.svg') no-repeat 50% 50%;
}

@layer components {
  .btn {
    @apply flex w-max items-center justify-center rounded-full bg-green px-9 py-3 font-medium text-white hover:bg-green_hover;
  }

  .tab {
    @apply block cursor-pointer rounded-md border border-gray bg-white px-3 py-1 text-sm hover:border-green;
  }

  .input {
    @apply block rounded-lg bg-lite px-5 py-3 text-base;
  }

  .logo-transition-hidden {
    transition: width 0.2s ease-in 0.2s, opacity 0.3s ease-out;
  }

  .logo-transition-show {
    transition: width 0.3s ease-out, opacity 0.2s ease-in 0.2s;
  }
}

.content h2 {
  @apply my-4 text-xl lg:text-2xl font-bold;
}

.content p {
  @apply mb-3;
}

.content strong {
  @apply font-bold;
}

.content ul {
  @apply mb-4;
}

.content li {
  @apply relative mb-2 pl-5 before:absolute before:left-0 before:top-1/2 before:h-[5px] before:w-[5px] before:-translate-y-1/2 before:rounded-full before:bg-green;
}

.content a {
  @apply text-green hover:text-green_hover;
}
