@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  font-smooth: always;
  font-smoothing: auto;
  text-rendering: optimizeLegibility;
}

body:after {
	content: "";
  @apply bg-[rgba(140,_140,_140,_0.6)] fixed left-0 right-0 top-0 bottom-0 z-10 opacity-0 pointer-events-none transition-all
}

.grecaptcha-badge {
  visibility: hidden;
}

.overlay-show:after {
  @apply opacity-100 pointer-events-auto
}

.icon-address {
  mask: url('/img/address.svg') no-repeat 50% 50%;
}

.icon-phone {
  mask: url('/img/phone.svg') no-repeat 50% 50%;
}

.icon-clock {
  mask: url('/img/clock.svg') no-repeat 50% 50%;
}

.icon-mail {
  mask: url('/img/mail.svg') no-repeat 50% 50%;
}

.icon-telegram {
  mask: url('/img/telegram.svg') no-repeat 50% 50%;
}

.icon-whatsapp {
  mask: url('/img/whatsapp.svg') no-repeat 50% 50%;
}

.icon-arrowhead {
  mask: url('/img/arrowhead.svg') no-repeat 50% 50%;
}

@layer components {
  .btn {
    @apply w-max flex font-medium text-white justify-center items-center rounded-full py-3 px-9 bg-green hover:bg-green_hover
  }

  .tab {
    @apply block cursor-pointer py-1 px-3 text-sm rounded-md bg-white border border-gray hover:border-green
  }

  .input {
    @apply block py-3 px-5 bg-lite rounded-lg text-base
  }

  .logo-transition-hidden {
    transition: width .2s ease-in .2s, opacity .3s ease-out;
  }

  .logo-transition-show {
    transition: width .3s ease-out, opacity .2s ease-in .2s;
  }
}

.content h2 {
  @apply text-2xl font-bold my-4
}

.content p {
  @apply mb-3
}

.content strong {
  @apply font-bold
}

.content ul {
  @apply mb-4
}

.content li {
  @apply relative pl-5 mb-2 before:absolute before:w-[5px] before:h-[5px] before:left-0 before:top-1/2 before:-translate-y-1/2 before:bg-green before:rounded-full
}

.content a {
  @apply text-green hover:text-green_hover
}
