@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  font-smooth: always;
  font-smoothing: auto;
  text-rendering: optimizeLegibility;
}
